.mainBody{
  flex: 1;
  padding: 25px;
  background-color: #f9f9f9;
}
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 260px;
  color: white;
  background-color: #52526d;
  transition: all .4s linear;
  position: sticky;
  top: 0;
}
.sidebarCollapsed {
  height: 100vh;
  width: 70px;
  color: white;
  background-color: #52526d;
  transition: all .4s linear;
  position: sticky;
  top: 0;
}
.sidebarWrapper{
  position: relative;
}
.sidebarScrollable{
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebarScrollable::-webkit-scrollbar {
  width: 6px;
}
.sidebarScrollable::-webkit-scrollbar-thumb{
  background-color: #808080;
  border-radius: 3px;
}
.sidebarScrollable::-webkit-scrollbar-thumb:hover{
  background-color: #cccccc;
  border-radius: 3px;
}
.sidebarButton{
  position: absolute;
  border:none;
  height: 34px;
  width: 34px;
  right: -57px;
  top: 18px;
  -z-index: 10;
  background: none;
}
.sidebarTop {
  display: flex;
  align-items: center;
  -z-index: 10;
  gap: 10px;
  padding: 15px 20px;
  font-size: 12px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff1a;
  background-color: #52526d;
}
.sidebarList {
  padding: 15px 0px;
}
.sidebarItem{
  display: flex;
  align-items: center;
  gap: 10px;  
  color: #e4e6eb;
  font-size: 13px;
  text-decoration: none;
  padding: 10px 40px 10px 20px;
}
.subList{
  display: flex;
  align-items: center;
  gap: 10px;  
  color: #e4e6eb;
  font-size: 13px;
  text-decoration: none;
  padding: 6px 40px 6px 50px;
  background-color: #0000001a;
}
.subListToolTip{
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 10px;  
  padding: 0px 30px 0px 20px;
  color: #000000;
  width: max-content;
}
.subListToolTip:hover{
  color: #9bca3b;
}
.subListContainer{
  position: absolute;
  left: 70px;

}
.subListContainerToolTip{
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: 0px 0px 10px 5px;
  background-color: #ffffff;
}
.itemNameToolTip{
  position: absolute;
  left: 50px;
  width: max-content;
}
.itemIcon{
  height:20px;
  width: 20px;
  margin-bottom: 5px;
}
.itemButton{
  margin-left: auto;
}
.sidebarBottom {
  display: flex;
  flex-direction: column;
  margin: 0px 20px 20px 20px;
}
.credits{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 21px;
  border-radius: 10px;
  margin-bottom: 16px;
  background-color: #9bca3b;
}
.creditsButton{
  background:#52526d;
  height:42px;
  width:42px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.creditsButton:hover{
  background-color: #333333;
  
}
.bottomList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 10px;
}
.getStarted{
  background-color:#333333; 
}
.getStarted:hover{
  background-color:#000000; 
  transition: all .2s linear;
}
.essentialPlan{
  border:2px #9bca3b solid;
}
.essentialPlan:hover{
  background-color: #9bca3b;
  transition: all .2s linear;
}
.training{
  background-color: #00000033;
}
.footer {
  padding: 25px 25px;
  color:#666666;
  font-size: 12px;
  text-align: center;
  background-color: #f9f9f9;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;  
  padding: 10px 25px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eeeef1;
}
.headerLeft{
  display: flex;
}
.headerButton {
  height: 32px;
  width: 32px;
  margin-right: 15px;
}
.headerRight{
  display: flex;
  gap: 5px;
}
.search{
  display: flex;
  flex-direction: row wrap;
  border-radius: 5px;
  height: 42px;
  box-shadow: 0px 0px 5px 0px rgba(140, 152, 164, 0.30);
}
.search > *{
  width: 350px;
  border: none;
  border-radius: 5px; 
  background-color: #ffffff;
}
.search > input:focus {
  outline: none;
}
.headerItems{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 7px;
  background-color: #ffffff;
  position: relative;
}
.headerItemsToolTip{
  position: fixed;
  top: 20px;
  width: max-content;

}
.contentContainer{
  columns: 3;
  gap:20px;
}
.itemContainer{
  break-inside: avoid;
  margin-bottom: 20px;
  padding: 21px 21px 30px 21px; 
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgba(140, 152, 164, 0.30);
}
.itemList{
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #666666;
  font-weight: 500;
  font-size: 13px;
  list-style: none;
  text-decoration: none;
}
.itemButtons{
  width: max-content;
  background: #9bca3b;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin: 10px 16px 4px 30px;
}
.toolTip{
  width: max-content;
  color: #e4e6eb;
  background-color: #333333dd;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  z-index: 10;
}
.toolTipHidden{
  display: none;
}